.create_content{
    height: 350px;
    line-height: 150%;
    font-size: larger;
}

.markdown_content{
    height: 350px;
    border: 1px dotted #dfdfdf;
    border-radius: 5px;
    overflow: scroll;
    background-color: rgba(253, 125, 112, 0.07);
}
