body {
    font-family: 'Lato';
    line-height: 150%;
    -webkit-font-smoothing: antialiased;
}
.fa-btn {
    margin-right: 6px;
}
textarea {
    float: left;
}
.top-bar{
    min-height: 60px;
    background: url("/image/top.jpg") bottom repeat-x;
}

a{
    color: #fd7d70;
}
a:hover{
    color: #fdac48;
    text-decoration: none;
}
a:visited{
    color: #ffcaca;
}

footer{
    margin-top: 50px;
}

.footer-container{
    height: 80px;
    background-color: rgba(253, 125, 112, 0.55);
}

.up-down{
    position: fixed;
    bottom: 15%;
    right:12%;
}