body {
    font-family: 'Lato';
    background: url("/image/bg6.jpg");
}
.fa-btn {
    margin-right: 6px;
}
textarea {
    float: left;
}
.top-bar{
    min-height: 60px;
    background: url("/image/top.jpg") bottom repeat-x;
}

a{
    color: #fd7d70;
}
a:hover{
    color: #fdac48;
    text-decoration: none;
}
a:visited{
    color: #ffcaca;
}