.topic{
    min-height: 180px;
    margin-top: 20px;
}

.topic>div{
    overflow: hidden;
}

.topic-img{
    height: 188px;
}
.img-detail{
    height: 188px;
    border-left: 1px solid rgba(185, 185, 185, 0.51);
}
.detail{
    height: 50px;
    width: 180px;
    background-color: rgba(0, 0, 17, 0.5);
    position: absolute;
    bottom: 0;
}

.topic-content{
    border: 1px solid #dfdfdf;
}
.date{
    padding-top: 10px;
}
.content{
    margin-bottom: 10px;
    height: 60px;
    overflow: hidden;
    color: #9a9a9a;
}
.sort{
    padding-bottom: 10px;
}
