.topic{
    min-height: 180px;
    margin-top: 20px;
}

.topic div{
    overflow: hidden;
}

.topic-content{
    border: 1px solid #dfdfdf;
}

.content{
    height: 160px;
    overflow: hidden;
    color: #9a9a9a;
}

#cloud {
    position: relative;
    height: 220px;
    margin: 20px auto 0;
}

#cloud a {
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 6px;
}

#cloud a:hover {
    border: 1px solid #eee;
    background: #9f9f9f;
}